/* Quotes */
/* quotes design */
/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  /* height: 100vh; */
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}
.blockquote h4 {
  position: relative;
  color: #516982;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "â€";
  color: rgba(255, 255, 255, 1);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Quotes */

/* Section - Title */
/**************************/
#parallax-world .parallax-world-title {
  background: white;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
#parallax-world .parallax-world-title h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: black;
}
#parallax-world .parallax-world-title h3 {
  color: rgb(113, 3, 3);
  font-size: 1.4rem;
}
/* Section - Title */

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#parallax-world-of-ugg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: justify;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=); */
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}

/* Single details */

/* tirthankaras blog data start */
.Bigfoot-page-main {
  top: 0;
}
.Bigfoot-page-main > article {
  max-width: 550px;
  width: 100%;
  z-index: 1;
  margin: 20vh auto 160px;
}
.Bigfoot-page-main > article > h1 {
  font-weight: 400;
  font-size: 180px;
  line-height: auto;
  margin-bottom: 32px;
}
.Bigfoot-page-main > article > h2 {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: auto;
  margin-bottom: 32px;
}
.Bigfoot-page-main > article p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1Bigfoot-5;
  margin-bottom: 24px;
}
.Bigfoot-page-main > article blockquote {
  font-weight: 700;
  font-size: 24px;
  line-height: 1Bigfoot-5;
  margin-bottom: 24px;
  position: relative;
  margin: 40px 0px 40px 32px;
}
.Bigfoot-page-main > article blockquote::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background: var(--color-font);
  margin-left: -32px;
}

@media only screen and (max-width: 768px) {
  .Bigfoot-page-main > article {
    width: 100%;
    padding: 48px;
    margin-bottom: 10vh;
  }
  .Bigfoot-page-main > article > h1 {
    font-size: 120px;
  }
  .Bigfoot-page-main > article > h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 550px) {
  .Bigfoot-page-main > article > h1 {
    font-size: 120px;
  }
  .Bigfoot-page-main > article > h2 {
    font-size: 32px;
  }
  .Bigfoot-page-main > article {
    padding: 48px;
  }
}

/* tirthankaras blog data end */
